#head {
  margin-top: 10rem;
  font-size: 3.75rem;
}

#header {
  font-size: 60px;
  margin-top: -1rem;
  margin-left: 4rem;
}

#backgroundImg {
  position: relative;
  left: 1000px;
  bottom: 300px;
}

#Stroke {
  position: relative;
  bottom: 210px;
  max-height: 210px;
  right: 335px;
  max-width: 8px;
}

#con {
  font-weight: 300;
  position: relative;
  margin-left: 430px;
  margin-top: -665px;
}

#content {
  position: relative;
  margin-left: 450px;
}

#para {
  font-weight: 300;
  position: relative;
  margin-left: 430px;
}
#paragraph {
  font-weight: 300;
  position: relative;
  margin-left: 450px;
}
