#head {
  margin-top: 10rem;
  font-size: 60px;
}

#header {
  font-size: 60px;
  margin-top: -1rem;
  margin-left: 4rem;
}

#backgroundImg {
  position: relative;
  left: 1000px;
  bottom: 300px;
}

#Stroke {
  position: relative;
  bottom: 210px;
  height: 210px;
  right: 335px;
  width: 8px;
}

#con {
  font-weight: 300;
  position: relative;
  margin-left: 430px;
  margin-top: -665px;
}

#content {
  position: relative;
  margin-left: 450px;
}

#para {
  font-weight: 300;
  position: relative;
  margin-left: 430px;
}
#paragraph {
  font-weight: 300;
  position: relative;
  margin-left: 450px;
}

/* Tablet Devices */

@media only screen and (max-width: 1024px) {
  #head {
    margin-top: 1.5rem;
    left: -20px;
    position: relative;
    text-align: center;
    font-size: 50px;
  }
  #header {
    position: relative;
    text-align: center;
    font-size: 50px;
  }
  #backgroundImg {
    position: relative;
    left: 300px;
    top: 30rem;
    width: 50%;
  }
  #Stroke {
    height: 24rem;
    position: relative;
    left: -250px;
    top: 60px;
  }
  #con {
    text-align: center;
    position: relative;
    top: 380px;
    left: -300px;
    font-size: 30px;
  }

  #content {
    text-align: center;
    position: relative;
    top: 380px;
    left: -300px;
    font-size: 30px;
  }
  #para {
    text-align: center;
    position: relative;
    top: 390px;
    left: -300px;
    font-size: 30px;
  }
  #paragraph {
    text-align: center;
    position: relative;
    top: 390px;
    left: -300px;
    font-size: 30px;
  }
}

/* Mobile Devices */

@media only screen and (min-width: 375px) and (max-width: 969px) {
  #head {
    margin-top: 1.5rem;
    left: -20px;
    position: relative;
    text-align: center;
    font-size: 35px;
  }
  #header {
    position: relative;
    text-align: center;
    font-size: 35px;
  }
  #backgroundImg {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 100px;
    top: 18rem;
    width: 70%;
  }
  #Stroke {
    height: 16rem;
    position: relative;
    left: -280px;
    top: 40px;
  }
  #con {
    text-align: center;
    position: relative;
    top: 430px;
    left: -340px;
    font-size: 25px;
    white-space: nowrap;
  }

  #content {
    text-align: center;
    position: relative;
    top: 430px;
    left: -340px;
    font-size: 25px;
    white-space: nowrap;
  }
  #para {
    text-align: center;
    position: relative;
    top: 435px;
    left: -340px;
    font-size: 25px;
    white-space: nowrap;
  }
  #paragraph {
    text-align: center;
    position: relative;
    top: 435px;
    left: -340px;
    font-size: 25px;
    white-space: nowrap;
  }
}
