:root {
  --mainColor: rgb(0, 0, 0);
  --mainColorLight: rgb(44, 44, 44);
  --secondaryColor: #ffb700;
  --thirdColor: #e0a500;
  --textColor: white;
}

header {
  /* position: sticky;
  top: 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

#logo {
  display: flex;
  position: relative; /* Use relative positioning to move one specific thing */
  left: 300px;
  width: 75px;
  height: 70px;
}

nav a {
  font-size: 20px;
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
  text-decoration: underline;
  transition: 0.5s all;
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
}

